<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.themusicians.musiclms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.UserAddUsers"
            android:label="@string/title_activity_add_users"
            android:parentActivityName=".UserProfile" />
        <activity
            android:name=".UserSearch"
            android:label="@string/title_activity_user_search"
            android:parentActivityName=".ui.UserAddUsers" />
        <activity android:name=".chat.Chat_Users"></activity>
        <activity
            android:name=".chat.Chat"
            android:label="@string/title_activity_chat_landing"
            android:parentActivityName=".UserProfile"/> <!-- User Activities -->
        <activity android:name=".SignUp"
            android:label="@string/title_activity_signin" />
        <activity android:name=".UserProfile"
            android:label="@string/title_activity_user_main_profile"
            android:parentActivityName=".nodeViews.AssignmentOverviewActivity"/>
        <activity
            android:name=".UserLogin"
            android:label="@string/title_activity_login" /> <!-- Assignment -->
        <activity
            android:name=".components.MainNavigation"
            android:label="@string/title_activity_assignment_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
        For back button
        https://stackoverflow.com/questions/14545139/android-back-button-in-the-title-bar
        -->

        <!-- Assignment -->
        <activity
            android:name=".nodeViews.AssignmentOverviewActivity"
            android:label="@string/title_activity_assignment_overview" />
        <activity
            android:name=".nodeForms.AssignmentCreateFormActivity"
            android:label="@string/title_activity_assignment_create_form"
            android:parentActivityName=".nodeViews.AssignmentOverviewActivity">

            <!-- Support 4.0 and below -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nodeViews.AssignmentOverviewActivity" />
        </activity> <!-- Main Activity -->
        <activity
            android:name=".nodeForms.ToDoTaskCreateFormActivity"
            android:label="@string/title_activity_to_do_item_create_form"
            android:parentActivityName=".nodeForms.AssignmentCreateFormActivity">

            <!-- Support 4.0 and below -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nodeForms.AssignmentCreateFormActivity" />
        </activity> <!-- Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>