<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.themusicians.musiclms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- All queries for ToDoViewActivity currently -->
    <!-- Source: https://stackoverflow.com/a/64204646 -->
    <queries>
        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".UserAnalysis"
            android:label="Analysis"
            android:parentActivityName=".UserProfile"/>
        <activity
            android:name=".UserSearchView"
            android:label="@string/view"
            android:parentActivityName=".UserAddUsers" /> <!-- <activity -->
        <!-- android:name=".chat.Chat" -->
        <!-- android:label="Chat" -->
        <!-- android:parentActivityName=".UserAddUsers"/> -->
        <activity
            android:name=".UserAddUsers"
            android:label="@string/title_activity_add_users"
            android:parentActivityName=".UserProfile" />
        <activity
            android:name=".UserSearch"
            android:label="@string/title_activity_user_search"
            android:parentActivityName=".UserAddUsers" /> <!-- User Activities -->
        <activity
            android:name=".chat.Chat"
            android:label="@string/title_activity_chat_landing"
            android:parentActivityName=".UserAddUsers" /> <!-- User Activities -->
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_signin" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_main_profile"
            android:parentActivityName=".nodeViews.AssignmentOverviewActivity" />
        <activity
            android:name=".UserLogin"
            android:label="@string/title_activity_login" />
        <!--
        For back button
        https://stackoverflow.com/questions/14545139/android-back-button-in-the-title-bar
        -->
        <!-- Assignment -->
        <activity
            android:name=".nodeViews.AssignmentOverviewActivity"
            android:label="@string/title_activity_assignment_overview" />
        <activity
            android:name=".nodeForms.AssignmentCreateFormActivity"
            android:label="@string/title_activity_assignment_create_form"
            android:launchMode="singleTop"
            android:parentActivityName=".nodeViews.AssignmentOverviewActivity" />
        <activity
            android:name=".nodeViews.AssignmentViewActivity"
            android:label="@string/title_activity_assignment_view"
            android:launchMode="singleTop"
            android:parentActivityName=".nodeViews.AssignmentOverviewActivity" /> <!-- To Do Tasks -->
        <activity
            android:name=".nodeForms.ToDoTaskCreateFormActivity"
            android:label="@string/title_activity_to_do_item_create_form"
            android:parentActivityName=".nodeForms.AssignmentCreateFormActivity" />
        <activity
            android:name=".nodeViews.ToDoViewActivity"
            android:label="@string/title_activity_to_do_item_view"
            android:launchMode="singleTop"
            android:parentActivityName=".nodeViews.AssignmentViewActivity" /> <!-- Main Activity -->
        <!-- <activity -->
        <!-- android:name=".nodeViews.YoutubeRecording" -->
        <!-- android:label="Temp Youtube Page" -->
        <!-- android:parentActivityName=".nodeViews.AssignmentOverviewActivity" /> -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Notifications -->
        <service android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
<!--        <service-->
<!--            android:name=".Notifications.MyFirebaseMessaging"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

</manifest>